@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import './project.css';
@import 'tailwindcss/utilities';

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*   } */
/* } */

@layer base {
  :root {
    /* ---- BRAND COLORS ---- */
    /* PRIMARY */
    --primary-1: #d2d2f7;
    --primary-2: #d2d2f7;
    --primary-3: #bcbcf3;
    --primary-4: #a5a5ef;
    --primary-5: #8f8feb;
    --primary-6: #7272bc;
    --primary-7: #56568d;
    --primary-8: #39395e;
    --primary-9: #1d1d2f;

    /* SECONDARY */
    --secondary-1: #fef9c3;
    --secondary-2: #fef08a;
    --secondary-3: #fde047;
    --secondary-4: #fcd34d;
    --secondary-5: #eab308;
    --secondary-6: #ca8a04;
    --secondary-7: #a16207;
    --secondary-8: #854d0e;
    --secondary-9: #713f12;

    /* ACCENT */
    --accent-1: #fef9c3;
    --accent-2: #fef08a;
    --accent-3: #fde047;

    /* GRAYSCALE */
    --grey-1: #f3f4f6;
    --grey-2: #e5e7eb;
    --grey-3: #d1d5db;
    --grey-4: #9ca3af;
    --grey-5: #6b7280;
    --grey-6: #4b5563;
    --grey-7: #374151;
    --grey-8: #1f2937;
    --grey-9: #111827;
  }

  /* --- HEADER TEXT --- */
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-header text-1;
  }

  h1.theme-invert,
  h2.theme-invert,
  h3.theme-invert,
  h4.theme-invert,
  h5.theme-invert {
    @apply text-invert-1;
  }

  .heading-1 {
    @apply text-8xl;
  }
  .heading-2 {
    @apply text-7xl;
  }
  .heading-3 {
    @apply text-5xl;
  }
  .heading-4 {
    @apply text-4xl;
  }
  .heading-5 {
    @apply text-3xl;
  }
  .heading-6 {
    @apply text-2xl;
  }

  /* --- BODY TEXT --- */
  p {
    @apply font-body;
  }

  .title-1,
  .title-2,
  .title-3 {
    @apply font-body text-2;
  }
  .base-1,
  .base-2,
  .base-3 {
    @apply font-body text-3;
  }
  .theme-invert .title-1,
  .theme-invert .title-2,
  .theme-invert .title-3 {
    @apply font-body text-invert-2;
  }
  .theme-invert .base-1,
  .theme-invert .base-2,
  .theme-invert .base-3 {
    @apply font-body text-invert-3;
  }

  .title-1 {
    @apply text-3xl;
  }
  .title-2 {
    @apply text-2xl;
  }
  .title-3 {
    @apply text-xl;
  }
  .base-1 {
    @apply text-base;
  }
  .base-2 {
    @apply text-sm;
  }
  .base-3 {
    @apply text-xs;
  }

  /* LINKS & BUTTONS */
  button.link-1,
  a.link-1 {
    @apply text-lg cursor-pointer text-1 hover:text-2 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-1;
  }
  button.link-2,
  a.link-2 {
    @apply text-base cursor-pointer text-2 hover:text-3  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-1;
  }
  button.link-3,
  a.link-3 {
    @apply text-sm cursor-pointer font-light text-2 hover:text-3 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-1;
  }
}
